* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: #889dc09b;
}

form {
    background: #4e5984ac;
    width: 450px;
    border-radius: 25px;
    height: 400px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 50px auto 50px;
    box-shadow: 5px 4px 4px 5px #12897b62;
}

form h1 {
    color: #3d8a1a;
    text-align: center;
    font-size: 22px;
}

label {
    color: #030303;
    font-weight: bold;
    font-family: Arial,Helvetica, sans-seri;
    padding-bottom: 5px;
    padding-top: 15px;
    display: inline-block;
}

input,textarea {
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    resize: none;
}

textarea {
    height: 50px;
}

button {
    flex-grow: 1;
    width: 50px;
    margin: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    color: #3a52a2;
}
input.button{
    background-color: #3a52a2;
    padding: 2px;
    margin: 10px;
    border: none;
}



